.todos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
  height: calc(100vh - 4.25rem);
  box-sizing: border-box;
  overflow-y: auto;

  .todo {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1rem;
    width: 25rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.476);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    h2 {
      font-size: 1.25rem;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }

    p {
      margin: 0;
    }
  }
}
